<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_center">
                        <p>Welcome to Event app</p>
                        <h1>
                            Register for the Latest <span class="text_clr">Event</span>
                        </h1>
                        <a href="/"><button>Check Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>